@import "../bower_components/bootstrap-stylus/bootstrap";
body
  background #E6E6E6
.container
  max-width 960px
  margin 0 auto

section
  &.module
    &:last-child
      margin-bottom 0
    h2
      margin-bottom 40px
      font-family "Roboto Slab", serif
      font-size 30px
    p
      margin-bottom 40px
      font-size 16px
      font-weight 300
      font-size 20px
      &:last-child
        margin-bottom 0
    &.content
      padding 40px 0
    &.parallax
      height 600px
      background-position 50% 50%
      background-repeat no-repeat
      background-attachment fixed
      background-size cover
      h1
        color rgba(255, 255, 255, 0.8)
        font-size 48px
        line-height 600px
        font-weight 700
        text-align center
        text-transform uppercase
        text-shadow 0 0 10px rgba(0, 0, 0, 0.2)
        font-size 96px
    &.parallax-1
      background-image url("../images/placeholder-slide-1.jpg")
    &.parallax-2
      background-image url("../images/placeholder-slide-2.jpg")
    &.parallax-3
      background-image url("../images/placeholder-slide-3.jpg")