//- Homepage Markup
extends ./layouts/base

block content
	nav(role="navigation").navbar.navbar-default.navbar-fixed-top
		a(href="/").navbar-brand websitename
		ul.nav.navbar-nav
			li
				a(href="#") Home
			li
				a(href="#") Link

block morecontent
	section.module.parallax.parallax-1
		.container
			h1 abc
	section.module.content
		.container
			h2 such boo wow
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit
	section.module.parallax.parallax-2
		.container
			h1 abc
	section.module.content
		.container
			h2 wow much scare
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit
	section.module.parallax.parallax-3
		.container
			h1 abc
	section.module.content
		.container
			h2 wow such ded
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit
